  <li class="question-display">
      <p>
        <span class="username"><%= question.author.username %></span>
          <span class="timestamp"><%= question.created_at %></span>
          <span class="votes"># votes</span>
      </p>
        <p><%= link_to question.title, question_path(question) %><p>
  </li>