  <li class="comment-display">
      <p>
        <span class="username"><%= comment.author.username %></span>
          <span class="timestamp"><%= comment.created_at %></span>
      </p>
      <hr>
      <p><%= comment.content %></p>
  <% if comment.author_id == session[:user_id] %>
  <br>
  <p><%= link_to 'Edit', edit_comment_path(comment) %></p>
<% end %>
  </li>