<div class="vote">
  <form class="upvote">
    <input type="image" src="<%= image_path("upArrow.png") %>" alt="submit"/>
  </form> 
  <form class="downvote">
    <input type="image" src="<%= image_path("downArrow.png") %>" alt="submit"/>
  </form>
    <span class="votes_count">
    <%= votes_count %>
  </span>
</div>